<% x = 2%>
<%if profile.avatar.attached?%>
  <div class="group relative rounded-md border border-gray-200 bg-white">
    <% if profile.is_verified %>
      <div class="absolute top-2 right-<%= x %> z-10 bg-white rounded-full p-1 border border-gray-300" title="Verificada">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#0095f6" class="size-4">
          <path fill-rule="evenodd" d="M16.403 12.652a3 3 0 0 0 0-5.304 3 3 0 0 0-3.75-3.751 3 3 0 0 0-5.305 0 3 3 0 0 0-3.751 3.75 3 3 0 0 0 0 5.305 3 3 0 0 0 3.75 3.751 3 3 0 0 0 5.305 0 3 3 0 0 0 3.751-3.75Zm-2.546-4.46a.75.75 0 0 0-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
        </svg>
      </div>
      <% x = x + 8 %>
    <% end %>
    <% if profile.is_business_account %>
      <div class="absolute top-2 right-<%= x %> z-10 bg-white rounded-full p-1 border border-gray-300" title="Cuenta de Negocios">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M6 3.75A2.75 2.75 0 0 1 8.75 1h2.5A2.75 2.75 0 0 1 14 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 0 1 6 4.193V3.75Zm6.5 0v.325a41.622 41.622 0 0 0-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25ZM10 10a1 1 0 0 0-1 1v.01a1 1 0 0 0 1 1h.01a1 1 0 0 0 1-1V11a1 1 0 0 0-1-1H10Z" clip-rule="evenodd" />
          <path d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 0 1-9.274 0C3.985 17.585 3 16.402 3 15.055Z" />
        </svg>
      </div>
    <% end %>
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden  bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
      <%=link_to profile_path(profile) do%>
        <%= image_tag(direct_blob_url(profile.avatar), 
     class: 'h-full w-full object-cover object-center lg:h-full lg:w-full',
     loading: 'lazy',
     alt: profile.username
     ) %>
      <%end%>
    </div>
    <div class="mt-2 px-2 mb-2 flex justify-between">
      <div>
        <h3 class="text-sm font-medium text-gray-900">
          <%=link_to profile_path(profile) do%>
            <span aria-hidden="true"></span>
            <%=profile.full_name%>
          <%end%>
        </h3>
        <p class="text-sm text-gray-500">
          <%= link_to "@#{profile.username}", "https://www.instagram.com/#{profile.username}", target: "_blank", rel: "noopener" %>
        </p>
      </div>
      <p class="text-sm font-medium text-gray-900"></p>
    </div>
  </div>
<%end%>
