<% likes_count = post.likes_count.to_i %>
<% comments_count = post.comments_count.to_i %>
<% video_view_count = post.video_view_count.to_i %>
<% total_interactions = likes_count + comments_count + video_view_count %>
<% posted_on_text = post.posted_at.present? ? l(post.posted_at, format: :long) : nil %>
<% posted_on_iso = post.posted_at&.iso8601 %>
<% permalink = post.url.presence || (post.shortcode.present? ? "https://www.instagram.com/p/#{post.shortcode}" : nil) %>
<% compact_units = { thousand: 'K', million: 'M', billion: 'B' } %>
<%if post.image.attached?%>
  <div class="group relative rounded-md border border-gray-200 bg-white">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
      <%= image_tag(direct_blob_url(post.image), 
     class: 'h-full w-full object-cover object-center lg:h-full lg:w-full',
     loading: 'lazy',
     alt: post.caption||"Posteo de #{post.profile.username}"
    ) %>
    </div>
    <div class="relative mt-1 px-2 py-2">
      <h3 class="text-sm font-medium text-gray-900"> <%=post.product_type.capitalize%> - <%=post.media%></h3>
      <p class="mt-1 text-sm text-gray-500"><%=post.posted_at.strftime("%d/%m/%Y")%></p>
      <div class="mt-1 flex items-center text-sm text-gray-500">
        <span class="flex items-center pr-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
          </svg>
          <%= number_to_human(likes_count, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }, precision: 2) %>
        </span>
        <span class="flex items-center pr-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd" d="M10 3c-4.31 0-8 3.033-8 7 0 2.024.978 3.825 2.499 5.085a3.478 3.478 0 0 1-.522 1.756.75.75 0 0 0 .584 1.143 5.976 5.976 0 0 0 3.936-1.108c.487.082.99.124 1.503.124 4.31 0 8-3.033 8-7s-3.69-7-8-7Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm-2-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
          </svg>
          <%= number_to_human(comments_count, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }, precision: 2) %>
        </span>
        <% if video_view_count.positive? %>
          <span class="flex items-center pr-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path d="M6.3 2.84A1.5 1.5 0 0 0 4 4.11v11.78a1.5 1.5 0 0 0 2.3 1.27l9.344-5.891a1.5 1.5 0 0 0 0-2.538L6.3 2.841Z" />
            </svg>
            <%= number_to_human(video_view_count, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }, precision: 2) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<%end%>
