<div class="bg-white">
  <main class="mx-auto max-w-7xl sm:px-6 sm:pt-16 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <!-- Product -->
      <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <!-- Image gallery -->
        <div class="flex flex-col-reverse">
          <div class="aspect-h-1 aspect-w-1 w-full">
            <!-- Tab panel, show/hide based on tab state. -->
            <div id="tabs-2-panel-1" aria-labelledby="tabs-2-tab-1" role="tabpanel" tabindex="0">
              <%=image_tag url_for(@profile.avatar), class: 'h-full w-full object-cover object-center sm:rounded-lg'%>
            </div>
          </div>
        </div>
        <!-- Product info -->
        <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%=@profile.username%></h1>
          <hr class="mb-2">
          <h2 class="text-xl font-bold tracking-tight text-gray-900"><%=@profile.full_name%></h2>
          <div class="mt-3">
            <p class="text-3xl tracking-tight text-gray-900"><%=number_with_delimiter(@profile.followers, delimiter: '.')%> Seguidores</p>
          </div>
          <!-- Reviews -->
          <div class="mt-3">
            <h3 class="sr-only">Reviews</h3>
            <div class="flex items-center">
              <div class="flex items-center">
                <!-- Active: "text-indigo-500", Inactive: "text-gray-300" -->
                <svg class="h-5 w-5 flex-shrink-0 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 flex-shrink-0 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 flex-shrink-0 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 flex-shrink-0 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>
                <svg class="h-5 w-5 flex-shrink-0 text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>
              </div>
              <p class="sr-only">4 out of 5 stars</p>
            </div>
          </div>
          <div class="mt-6">
            <h3 class="sr-only">Biografía</h3>
            <div class="space-y-6 text-xl text-gray-700">
              <p><%=@profile.biography%></p>
            </div>
            <%if @posts.any?%>
              <div class="space-y-6 text-xl text-gray-700">
                <p>En la última semana ha a creado <b><%=number_with_delimiter(@profile.total_posts, delimiter: '.')%></b> publicaciones, generando un total de <b><%=number_with_delimiter(@profile.total_interactions_count, delimiter: '.')%></b> interacciones, en promedio se generan <b><%=number_with_delimiter(@median_interactions , delimiter: '.')%></b> interacciones por post. Su engagement rate es del <b><%=@profile.engagement_rate%>%</b></p>
                <%if @profile.total_video_view_count == 0%>
                  <p>La cuenta no ha publicado videos en la útima semana.</p>
                <%else%>
                  <p>Sus <b><%=number_with_delimiter(@profile.total_videos, delimiter: '.')%></b> videos han sido vistos <b><%=number_with_delimiter(@profile.total_video_view_count, delimiter: '.')%></b> veces en la última semana, en promedio cada video fue visto <b><%=number_with_delimiter(@median_video_views, delimiter: '.')%></b> veces.</p>
                <%end%>
              </div>
            <%end%>
            <div class="mt-5 space-y-6 text-xs text-gray-700">
              <p>Obs: Los datos no son en tiempo real.</p>
            </div>
          </div>
        </div>
      </div>
      <%if @last_week_posts.any?%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Stats últimos días</h2>
          <h3 class="text-xs font-bold text-gray-900">Obs: Likes y Comentarios cuentan como interacciones, visualizaciones de videos es una métrica aparte.</h3>
          <div class="mt-6">
            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
              <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Total Posts</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=@last_week_posts.size%></dd>
              </div>
              <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Total Interacciones</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=number_with_delimiter(@profile.total_interactions_count, delimiter: '.')%></dd>
              </div>
              <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Visualizaciones Videos</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=number_with_delimiter(@profile.total_video_view_count, delimiter: '.')%></dd>
              </div>
              <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Seguidores</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%=number_with_delimiter(@profile.followers, delimiter: '.')%></dd>
              </div>
            </dl>
          </div>
        </section>
        <%if @profile.instagram_posts.a_month_ago%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Nube de Palabras</h2>
          <div class="mt-6">
            <%= render 'instagram_post/word_cloud', word_array: @profile.instagram_posts.a_month_ago.word_occurrences %>
          </div>  
        </section>
        <%end%>
        <section aria-labelledby="related-heading" class="mt-2 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Posteos por día</h2>
          <div class="mt-6">
            <%= column_chart @last_week_posts.group(:media).group_by_day(:posted_at).count, label: "Posteos", xtitle: "Fecha", ytitle: "Cant. Posteos", stacked: true %>
          </div>
        </section>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Interacciones por día</h2>
          <h3 class="text-xs font-bold text-gray-900">Obs: Likes y Comentarios cuentan como interacciones, visualizaciones de videos es una métrica aparte.</h3>
          <div class="mt-6">
            <%= column_chart @last_week_posts.group_by_day(:posted_at).sum(:total_count), colors: ['lightgreen'], label: "Interacciones", xtitle: "Fecha", ytitle: "Cant. Interacciones", thousands: "." %>
          </div>  
        </section>
        <%if @profile.total_video_view_count.positive?%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Visualizaciones videos por día</h2>
          <div class="mt-6">
            <%= column_chart @last_week_posts.group_by_day(:posted_at).sum(:video_view_count), colors: ['lightblue'], label: "Visualizaciones", xtitle: "Fecha", ytitle: "Cant. Visualizaciones", thousands: "." %>
          </div>  
        </section>
        <%end%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0"> 
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Interacciones y Posteos por seccion</h2>
          <h3 class="text-xs font-bold text-gray-900">Obs: Likes y Comentarios cuentan como interacciones, visualizaciones de videos es una métrica aparte.</h3>
          <div class="flex">
            <div class="w-1/2">
              <%= pie_chart @last_week_posts.group(:product_type).count, donut: true, label: "Posteos" %>
            </div>  
            <div class="w-1/2">
              <%= pie_chart @last_week_posts.group(:product_type).sum(:total_count), donut: true, label: "Interacciones", thousands: "." %>
            </div>  
          </div>
        </section>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0"> 
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Interacciones y Posteos por tipo</h2>
          <h3 class="text-xs font-bold text-gray-900">Obs: Likes y Comentarios cuentan como interacciones, visualizaciones de videos es una métrica aparte.</h3>
          <div class="flex">
            <div class="w-1/2">
              <%= pie_chart @last_week_posts.group(:media).count, donut: true, label: "Posteos" %>
            </div>  
            <div class="w-1/2">
              <%= pie_chart @last_week_posts.group(:media).sum(:total_count), donut: true, label: "Interacciones", thousands: "." %>
            </div>  
          </div>
        </section>
      <%end%>
      <%if @profile.collaborators.any?%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Colaboradores</h2>
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <%=render partial: "profile/profile", collection: @profile.collaborators, cache: true%>
          </div>
        </section>
      <%end%>
      <%if @related_brands.any?%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Colaboraciones y Menciones Recientes</h2>
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <%=render partial: "profile/profile", collection: @related_brands, cache: true%>
          </div>
        </section>
      <%end%>
      <%if @posts.any?%>
        <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
          <h2 id="related-heading" class="text-xl font-bold text-gray-900">Posteos Recientes</h2>
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <%=render partial: "instagram_post/post", collection: @posts, cache: true%>
          </div>
        </section>
      <%end%>
      <section aria-labelledby="related-heading" class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0">
        <h2 id="related-heading" class="text-xl font-bold text-gray-900">Influencers Relacionados</h2>
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          <%=render partial: "profile/profile", collection: @profiles, cache: true%>
        </div>
      </section>
    </div>
  </main>
</div>
